<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @profile.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @profile.lastname %>
</p>

<p>
  <b>Bio:</b>
  <%= @profile.bio %>
</p>

<p>
  <b>Website:</b>
  <%= @profile.website %>
</p>

<p>
  <b>Twitter:</b>
  <%= @profile.twitter %>
</p>

<p>
  <b>Facebook:</b>
  <%= @profile.facebook %>
</p>

<p>
  <b>Linkedin:</b>
  <%= @profile.linkedin %>
</p>

<p>
  <b>Google:</b>
  <%= @profile.google %>
</p>

<p>
  <b>Url:</b>
  <%= @profile.url %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
